body {
    background-color: #0D0D0D;
    color: #EEEEEE;
    font-family: 'Rajdhani', sans-serif;
}

header {
    text-align: center;
}

h1 {
    font-size: 13rem;
    font-family: 'Rubik Distressed', cursive;
    font-weight: normal;
    margin-bottom: 2rem;
}

h2 {
    font-size: 5rem;
    font-family: 'Permanent Marker', cursive;
    font-weight: normal;
    margin-top: 0px;
}

h3 {
    font-size: 3rem;
    font-family: 'Rubik Glitch', cursive;
    font-weight: normal;
    margin-top: 0px;
}

h4 {
    font-size: 3rem;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    margin: 0px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #EEEEEE;
    
}